.whats {
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

button {
    background-color: rgb(112, 141, 165);
    padding: 10px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.formularioContacto {
    text-align: center;
    margin: 40px;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  
  input {
    padding: 10px 25px;
    border-radius: 25px;
    margin-bottom: 50px;
    background-color: #fafafa;
  }
  