footer {
    background-color: rgb(92, 84, 84);
    size-adjust: 30px;
}

h3 {
    color: black;
    margin: 0;
    text-align: center;
}

.redes {
    text-align: center;
    margin: 0;
}

h4 {
    text-align: center;
    margin: 0;
    font-weight: 100;
}

.listadoFooter {
    text-align: center;
    display: inline;
    margin-top: 0;
}