.encabezado {
    border-bottom: 20px solid rgb(77, 78, 78);
    background-color: rgb(255, 255, 255);
}

.fuentesNav {
    color: rgb(7, 7, 58);
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
}