.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 100px;
}

.tituloProductos {
    background-color: $color-gris;
    color: $color-blanco;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 40px;
    margin: 0;
}

.contProductos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.productos {
    margin-top: 60px;
    margin-right: 0;
    margin-bottom: 60px;
}

.card {
    margin-right: 50px;
    width: 405px;
    margin-left: 23px;
    margin-bottom: 30px;
}